name: Release Workflow

on:
  pull_request:
    branches: ["main"]
    paths-ignore: ["docs/**"]

  push:
    branches: ["main"]
    paths-ignore: ["docs/**"]

  workflow_dispatch:

  release:
    types: [published]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.19.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Set up Go environment
        run: |
          mkdir -p ~/go/bin
          echo "~/go/bin" >> $GITHUB_PATH

      - uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download dependencies
        run: make download

      - name: Lint all code with golangci-lint
        run: make lint

      - name: Run all tests
        run: make test

  create-release:
    name: release
    runs-on: ubuntu-latest

    outputs:
      new_release_version: ${{ steps.semantic-release.outputs.new_release_version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run semantic-release
        id: semantic-release
        uses: cycjimmy/semantic-release-action@v4.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-docker:
    if: needs.create-release.outputs.new_release_version != ''
    runs-on: ubuntu-latest
    needs: 
      - test
      - create-release
    outputs:
      docker_image: ${{ steps.build-and-upload.outputs.docker_image}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Load Docker image
        env:
          IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
          IMAGE_TAG: ${{ needs.create-release.outputs.new_release_version }}
        run: |
          docker buildx build --load -t $IMAGE_NAME:$IMAGE_TAG .

      - name: Tag and Push Docker image
        id: build-and-upload
        env:
          IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
          IMAGE_TAG: ${{ needs.create-release.outputs.new_release_version }}
        run: |
          docker tag $IMAGE_NAME:$IMAGE_TAG $IMAGE_NAME:latest
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:$IMAGE_TAG
          echo "docker_image=$IMAGE_NAME:$IMAGE_TAG" >> "$GITHUB_OUTPUT"
